<div>
    <div style = "text-align: center;">
        <h1>Ramon Táxi</h1>
        <h2>O melhor do extremo sul da Bahia</h2>
    </div> </br>

    <div style = "float: left;">
        <img src="../caraiva1.jpg" width = "480" height="300">
    </div>  
    
    <div style = "float: right;">
        <font size="5" face="Verdana">
        Agende o seu passeio na belíssima <strong>Caraíva</strong>, </br>
        curta a praia com a sua família e com um </br>
        motorista nativo totalmente disponível </br>
        para mostrar as belezas naturais deste </br>
        paraíso tropical! <%= link_to "Clique aqui", new_servico_path %> e não </br> 
        perca essa oportunidade! </br>
        <b>Ramon Táxi, o melhor do extremo sul </br> 
        da Bahia!</b> </br>
        </font>
        <i>Se Beber não DIRIJA! <i> 
    </div>
</div> 

<div>
    
    <div  style = "float: left;">
        </br></br>
        <img src="../Coroa-vermelha.jpg" width = "480" height="300">
    </div>
    
    <div style = "float: right;">
        </br>
        <font size="5" face="Verdana">
        Contrate o seu passeio e conheça onde </br>
        o nosso querido <strong> Brasil</strong> foi descoberto! </br>
        tenha uma experiência incrível no local </br>
        de celebração da primeira missa, depois </br>
        aproveite as lindas praias de Coroa </br> 
        Vermelha, corra e <%= link_to "confirme", new_servico_path %> o seu lazer! </br>
        <b>Ramon Táxi, o melhor do extremo sul </br> 
        da Bahia!</b> </br>
        </font>
        <i>Se Beber não DIRIJA! <i>
    </div>
</div>

<div>
    
    <div  style = "float: left;">
        </br></br>
        <img src="../la-morocha.jpg" width = "480" height="300">
    </div>
    
    <div style = "float: right;">
        </br>
        <font size="5" face="Verdana">
        Prefere a vida noturna? Aprecie uma das boates</br>
         mais requisitadas da Bahia, <strong> Morôcha Club!!! </strong> </br>
        Extravase e divirta-se como quiser, sabendo </br>
        que voltará para casa no momento que </br>
        desejar, em paz e com total segurança! </br>
        Venha conhecer a noite da explêndida </br> 
        Arraial D`Ajuda! </br> 
        <%= link_to "Agende agora!", new_servico_path %> A melhor balada da sua vida! </br>
        <b>Ramon Táxi, o melhor do extremo sul </br> 
        da Bahia!</b> </br>
        </font>
        <i>Se Beber não DIRIJA! <i>
    </div>
</div>

<div>
    
    <div  style = "float: left;">
        </br></br></br></br>
        <img src="../axe-moi-complexo-de-lazer.jpg" width = "480" height="300">
    </div>
    
    <div style = "float: right;">
        </br>
        <font size="5" face="Verdana">
        Quer um lugar completo desde o raiar</br>
        do sol até o sumiço das estrelas?</br>
        Quer curtir 24 horas sem pausa? </br>
        Aprecie a beleza da cabana <strong> Axé Moi! </strong></br>
        Cabana de praia durante o dia e </br>
        luau durante a noite, não pare por</br> 
        um segundo sequer! Aproveite muito!</br> 
        <%= link_to "Caia na gandaia, mas com segurança!", new_servico_path %> </br>
        <b>Ramon Táxi, o melhor do extremo sul </br> 
        da Bahia!</b> </br>
        </font>
        <i>Se Beber não DIRIJA! <i>
    </div>
</div>
