<div>
    <div style = "text-align: center;">
        <h1>Ramon Táxi</h1>
        <h2>O melhor do extremo sul da Bahia</h2>
    </div> </br>

    <div  style = "float: left;">
        <img src="../doblo1.jpg" width = "500" height="300">
    </div> </br>
    
    <div style = "float: right;">
        <font size="4" face="Verdana">
        Conheça os melhores lugares de Porto Seguro e região! </br>
        Realizamos todos os tipos de passeios, individual e familiar! </br>
        Cobertura de Belmonte até Caraíva, carros aconchegantes! </br>
        Onde você é o DJ e pode escutar a playlist que quiser! </br>
        Divirta-se com segurança, contratos de exclusividade! </br> 
        Sempre a sua disponibilidade, da praia até a balada!</br>
        Ótimos preços e descontos incríveis! <%= link_to "Venha conferir!", 
        descricao_servicos_path %> </br>
        <b>Ramon Táxi, o melhor do extremo sul da Bahia!</b> </br> </font>
        <i>Se Beber não DIRIJA! <i>
    </div>
</div> </br>

<div style = "float: left;">
    <font size = "4", face="arial">
    Está cansado de esperar o Uber chegar?
    Deseja se divertir sem perder um segundo?
    Quer se locomover no EXATO momento que desejar?
    Curtir a noitada sem se preocupar em dirigir
    ou esperar Uber, táxi ou ônibus?
    Mais segurança e comodidade para sua família? </br>
    Chegou a solução,<b> Ramon Táxi! </b>
    A sua disposição 24 horas!</font> </br>
    <font size = "6", face="arial">
    <%=link_to "Clique para conhecer", descricao_servicos_path %>
    </font>
</div>